* {
    font-family: sans-serif;
}


h2 {
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 2rem;
    border-bottom: 1px solid #eee
}


ul, p, a, div {
    color: #4c4e67
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: "— "
}

li {
    margin-bottom: 20px
}



a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
    height: 1.2cap;
}

.container {
    width: 100%;
    display: flex; 
    flex-direction: column
}

@media(width >= 600px) {
    .container {
        width: 50%;
    }
}

/* COLORES */

:root {
    --Hombre: #52BF9E;
    --Mujer: #8652EB;

    --DVS: #2db1a4;
    --Diseño: orange;
    --Producto: red;
    --BI: blue;
    --GIS: yellow;
    --ONG: green;
    --Programación: pink;
    --Taller: grey;

    --Consultoría: orange;
    --Universidad: yellow;
    --Estudio: blue;
    --Medios: grey;

}