* {
    font-family: sans-serif;
}

body {
    margin: 0;
}


h2 {
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 2rem;
    border-bottom: 1px solid #eee
}


ul, p, a, div {
    color: #4c4e67;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: "— "
}

li {
    margin-bottom: 20px
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
    height: 1.2cap;
}

button {
    background-color: transparent;
    color: #212529;
    border: solid #212529 1px;
    border-radius: 50px;
    padding: .3rem .9rem;
    cursor: pointer;

    transition: color .5s, background-color .5s
}

button.active {
    background-color: #212529;
    color: #f8f9fa
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column
}

@media(width >= 600px) {
    .container {
        width: 50%;
    }
}

.subtitle a{
    text-decoration: underline;
}

/* COLORES */

:root {
    --Hombre: #52BF9E;
    --Mujer: #8652EB;

    --DVS: #2db1a4;
    --Diseño: #fab9ff;
    --Producto: #d7ec8a;
    --BI: #5eb4f3;
    --GIS: #bf643c;
    --ONG: #ffc653;
    --Programación: #4f55af;
    --Taller: #99b0a7;

    --Consultoría: #fab9ff;
    --Universidad: #ffc653;
    --Estudio: #637ddc;
    --Medios: #99b0a7;

}
